pre, .pre  {
  overflow-x: auto;
  overflow-y: hidden;
  overflow:   scroll;
}


pre  code {
  display: block;
  padding: 1.5em 1.5em;
  white-space: pre;
  font-size: .875rem;
  line-height: 2;

}

pre {
  background-color: rgb(34, 34, 34);
  color: #ddd;
  white-space: pre;

  hyphens: none;
  position: relative;
}

h1.f2 {
  color: white !important;
  font-weight: bold;
  font-family: Helvetica, sans-serif, Arial;
}

/*https://codepen.io/ChrisMla/pen/jWMLWY*/

img.site-logo {
  animation: site-logo ease-in-out 1s infinite alternate;
  width: 5rem;
  position: absolute;
}

.site-logo:after{
  transform: rotate(45deg);
}

@keyframes site-logo {
  0% { transform: rotate(12deg); }
  100% { transform: rotate(-12deg); }
}



